.gitignore
venv/
out/
.serverVenv/
.edgeVenv/
.clientVenv/
# client/
server/
LocalDownloads/
tests/TestFolder/

backend/target/

*.class
*.log
*.csv
*.jar


# env.sh


__pycache__/
*.pyc
.vscode/
